body{
  padding: 10px;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;

}
.addButton{
  border-radius: 30px;
  border-width: 1px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(228, 227, 227);
  border-style: solid;
}
.addButton:hover{
  opacity: 0.9;
}
.addButton:active{
  opacity: 0.8;
}

.input{
margin-top: 5px;
width: 182px;
}
.addSubreddit{
margin-top: 5px;
width: 190px;
}
.popUpContainer{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: solid 1px rgb(62, 62, 62);
  padding: 10px;
  border-radius: 15px;
  display: none;
}
.lane {
  box-sizing: border-box;
  width: calc(20% - 5px); /* 100% / 5 = 20% */
}
.lanesContainer{
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}
.postCard {
  border: 1px solid gray;
  padding: 8px;
  margin-bottom: 8px;
  max-width: 250px;
  border-radius: 15px;
}
